asgiref==3.8.1
cachetools==5.5.1
certifi==2025.1.31
charset-normalizer==3.4.1
Django==3.1.12
django-cors-headers==3.5.0
djangorestframework==3.12.4
djangorestframework-simplejwt==5.2.2
djongo==1.3.7
dnspython==2.3.0
httplib2==0.22.0
idna==3.10
oauthlib==3.2.2
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyJWT==2.8.0
pymongo==3.11.4
pyparsing==3.2.1
python-dotenv==0.21.1
pytz==2025.1
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
sqlparse==0.2.4
typing_extensions==4.12.2
urllib3==2.3.0
google-api-python-client
google-auth==2.38.0
google-auth-oauthlib
google-auth-httplib2
google-generativeai
pdfplumber
python-docx
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0.tar.gz
phonenumbers
PyPDF2